.content {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
}

.card {
    /* padding: 1rem; */
    font-size: 16px;
}

.dashboard-chart{
    width: 100%;
    height: auto;
}

.test {
    margin: 0 1rem;
    padding: .5rem;
}

@media only screen and (max-width: 480px) {
    .content {
        grid-template-columns: 1fr;
    }
}