<nav class="navbar navbar-expand-lg navbar-dark border-bottom border-light bg-wallet-primary">
    <div id="container-nav" class="container">
        <span class="navbar-brand logo text-light">Wallet</span>
        <span 
            id="menu-btn" 
            class="navbar-toggler navbar-toggler-right collapsed" 
            type="button" 
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav" 
            aria-controls="navbarNav" 
            aria-expanded="false" 
            aria-label="Toggle navigation"
            (click)="toggleMenu()">
            <span *ngIf="isMenuOpen" id="close-menu" class="my-1 mx-2 close">X</span>
            <span *ngIf="!isMenuOpen" id="open-menu" class="navbar-toggler-icon"></span>
        </span>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link button-links active" routerLink="/" onclick="changeActiveLink(event)">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link button-links active" routerLink="/dashboard" onclick="changeActiveLink(event)">Dashboard</a>
                </li>
            </ul>
        </div>
    </div>
</nav>