<div id="transactions-head" class="alert alert-secondary" role="alert">
    <h5 id="transactions-title">Transações</h5>
    <button type="button" class="btn btn-sm bg-wallet-primary">Nova transação</button>
</div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Descrição</th>
        <th scope="col">Valor</th>
        <th scope="col">Fluxo</th>
        <th scope="col">Tag</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Aluguel</td>
        <td>R$ 1000,00</td>
        <td>Custo</td>
        <td>Contas</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Salário</td>
        <td>R$ 3000,00</td>
        <td>Receita</td>
        <td>Trabalho</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Restaurante</td>
        <td>R$ 80,00</td>
        <td>Custo</td>
        <td>Alimentação</td>
      </tr>
    </tbody>
  </table>