#transactions-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#transactions-title {
    margin-bottom: 0;
}

#resumes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
    margin: 1.5rem 0;
}

#resumes app-card-resume {
    width: 33%;
}

#table-container {
    height: 500px;
    overflow-y: scroll;
}

thead {
    position: sticky;
    top: 0;
    z-index: 9;
    /* Para garantir que o cabeçalho fique acima do conteúdo */
}

#search-box {
    margin-bottom: 8px;
}



.wallet-column-action {
    gap: 8px;
    display: flex;
    flex-direction: row;
}

.hide-overflow{
    max-width: 100px;

    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

@media (max-width:768px){
	.wallet-column-flux{
		display: none;
	}
}

@media (max-width:576px){
	.wallet-column-tag{
		display: none;
	}
}
