<app-popup (onSubmit)="createHandler($event)"></app-popup>
<div id="transactions-head" class="alert bg-wallet-light" role="alert">
    <h5 id="transactions-title" class="txt-wallet-dark">Transações</h5>
    <button 
        type="button" 
        (click)="handleShowPopup()" 
        class="btn btn-sm text-light bg-wallet-primary">
        Nova transação
    </button>
</div>
<div id="resumes" class="card-grid">
    <app-card-resume [cssClass]="'txt-wallet-danger'" [title]="'Gasto'" [value]="outcomeResume"></app-card-resume>
    <app-card-resume [cssClass]="'txt-wallet-primary'" [title]="'Balanço'" [value]="balanceResume"></app-card-resume>
    <app-card-resume [cssClass]="'txt-wallet-secondary'" [title]="'Renda'" [value]="incomeResume"></app-card-resume>
</div>
<div id="table-container">
    <table id="transaction-table" class="table" *ngIf="transactions.length > 0; else noTransactions">
        <thead class="bg-wallet-light">
            <tr>
                <th class="wallet-column-id" scope="col">#</th>
                <th class="hide-overflow wallet-column-desc" scope="col">Descrição</th>
                <th class="hide-overflow wallet-column-value" scope="col">Valor</th>
                <th class="wallet-column-flux" scope="col">Fluxo</th>
                <th class="wallet-column-tag" scope="col">Tag</th>
                <th class="wallet-column-action" scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let transaction of transactions">
                <th class="wallet-column-id"  scope="row">{{ transaction.id }}</th>
                <td class="hide-overflow wallet-column-desc" >{{ transaction.description }}</td>
                <td class="hide-overflow wallet-column-value" >R$ {{ transaction.value }},00</td>
                <td class="wallet-column-flux" >{{ transaction.flux }}</td>
                <td class="wallet-column-tag" >{{ transaction.tag }}</td>
                <td class="wallet-column-action">
                    <button 
                    type="button" 
                    class="btn btn-sm btn-secondary"
                    (click)="editHandler(transaction)"
                    >
                        <fa-icon [icon]="iconPen"></fa-icon>
                    </button>

                    <button 
                    type="button" 
                    class="btn btn-sm btn-danger" 
                    (click)="removeHandler(transaction.id!)"
                    >
                        <fa-icon [icon]="iconTrash"></fa-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<ng-template #noTransactions>
    <div id="transactions-head" class="alert bg-wallet-light" role="alert">
        <h5 id="transactions-title" class="txt-wallet-dark">
            Ainda não há registros
        </h5>
    </div>
</ng-template>