/* You can add global styles to this file, and also import other style files */
:root {
    --wallet-primary-color: #3498DB;
    --wallet-secondary-color: #2ECC71;
    --wallet-danger-color: #E74C3C;
    --wallet-txt-dark-color: #333333;
    --wallet-txt-light-color: #777777;
    --wallet-background-color: #eeeeee;
}

.bg-wallet-primary {
    background-color: var(--wallet-primary-color);
}

.bg-wallet-light {
    background-color: var(--wallet-background-color);
}

.txt-wallet-dark {
    color: var(--wallet-txt-dark-color);
}

.txt-wallet-danger {
    color: var(--wallet-danger-color);
}

.txt-wallet-primary {
    color: var(--wallet-primary-color);
}

.txt-wallet-secondary {
    color: var(--wallet-secondary-color);
}



@media (max-width:360px){
    html {
        font-size: 12px;
    }
}

@media (max-width:330px){
    html {
        font-size: 10px;
    }
}